body {
    background-color: #FCF4D9;
}

.container {
    margin: 0 auto;
}

h1 {
    border-bottom: 1px solid #000;
    padding-bottom: 32px;
}

.title {
    text-align: center;
    font-size: 20px;
}

.work {
    display: flex;
    padding: 20px 50px;
    text-align: center;
}

.machine {
    background-image: url(images/machine.png);
    width: 250px;
    height: 391px;
    background-position: center;
    background-size: cover;
    margin: 30px auto;
}

footer {
    color: #525252;
    text-align: center;
    background-color: #F3E5B4;
}